.box_select{
    margin-top: 30px;
    width: 90px;
    border-radius: 20px;
    padding: 20px 26px 20px 20px;
    background-color: #fff;
    display: table-footer-group;
}
.scrolling{
    height: 100px;
    background: #fff;
    overflow-y: scroll;
}
.scrolling p{
    margin-bottom: 10px;
}

.scrolling::-webkit-scrollbar {
    width: 10px;
    height: 20px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 6%);
}
.scrolling::-webkit-scrollbar-track { 
    max-width: 4px;
}
.scrolling::-webkit-scrollbar-thumb {
    background: #f50500; 
    border-radius: 10px;
    height: 10px;
    width: 10px;
}
.scrolling::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}